name: PR Build
on: [pull_request]
env:
  NODE_VERSION: 22.x
permissions:
  contents: read
  actions: read
  packages: read
jobs:
  build:
    runs-on: ubuntu-latest
    name: build (18)
    steps:
      - uses: FranzDiebold/github-env-vars-action@v2
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check cache
        id: cache
        uses: actions/cache@v4
        with:
          path: packages/sdk/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}-0
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Use Node ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: "https://npm.pkg.github.com"
          scope: "@chili-publish"
      - name: install dependencies
        run: yarn install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: run license check
        run: yarn validate-licenses
      - name: run linting
        run: yarn ci-lint
      - name: run tests
        run: yarn cover
      - name: Publish Unit Test Results
        continue-on-error: true
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always()
        with:
          files: packages/sdk/coverage/**/*.xml
      - name: SonarQube analysis
        uses: sonarsource/sonarqube-scan-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - name: build code
        run: yarn build
      - name: validate sdk examples
        run: cd examples/sdk/basic-typescript-example && npm install && npm run build
      - name: ensure packages/sdk/upload exists
        run: node cicd.js sdk mkdir -p upload/dev-packages/$CI_PR_ID
      - name: pack sdk build
        run: node cicd.js sdk yarn pack -f upload/dev-packages/$CI_PR_ID/studio-sdk.tgz
      - name: prepare for connectors upload
        run: node cicd.js connectors yarn prepare-upload
      - name: copy bundles
        run: |
          cp -R packages/sdk/_bundles packages/sdk/upload/dev-packages/$CI_PR_ID
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: >-
            {
              "clientId": "${{ vars.SP_FRONTEND_CLIENT_ID }}",
              "clientSecret": "${{ secrets.SP_FRONTEND_CLIENT_SECRET }}",
              "tenantId": "${{ vars.AZURE_TENANT_ID }}",
              "subscriptionId": "${{ vars.SUBSCRIPTION_ID_DEV }}"
            }
      - name: Copy to Azure Blob Storage
        uses: azure/cli@v2
        with:
          inlineScript: |
            az storage blob upload-batch \
              --account-name "${{ vars.STORAGE_ACCOUNT_NAME_DEV }}" \
              --destination sdk \
              --source packages/sdk/upload/ \
              --overwrite true \
              --auth-mode login
      - name: Copy to Azure Blob Storage (Connectors)
        uses: azure/cli@v2
        with:
          inlineScript: |
            az storage blob upload-batch \
              --account-name "${{ vars.STORAGE_ACCOUNT_NAME_DEV }}" \
              --destination sdk \
              --source packages/connectors/upload/ \
              --overwrite true \
              --auth-mode login
      - name: prepare for actions upload
        run: |
          node cicd.js actions node scripts/prepare-release.mjs
      - name: Copy to Azure Blob Storage (Actions)
        uses: azure/cli@v2
        with:
          inlineScript: |
            az storage blob upload-batch \
              --account-name "${{ vars.STORAGE_ACCOUNT_NAME_DEV }}" \
              --destination sdk \
              --source packages/actions/cdn/ \
              --overwrite true \
              --auth-mode login
