name: Comment deploy URL on PR open
on:
    pull_request:
        types: [opened]
jobs:
    comment:
        runs-on: ubuntu-latest
        steps:
            - uses: FranzDiebold/github-env-vars-action@v2
            - uses: actions/checkout@v1
            - name: 'Comment on PR'
              uses: actions/github-script@0.3.0
              if: github.event_name == 'pull_request'
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  script: |
                      const { issue: { number: issue_number }, repo: { owner, repo }  } = context;
                      github.issues.createComment({ issue_number, owner, repo, body: 'Coverage report can be checked at https://chili-dev.azureedge.net/sdk/' + issue_number + '/coverage.html' });          
