name: PR Merge
on:
  push:
    branches:
      - main
env:
  NODE_VERSION: 22.x
permissions:
  contents: write
  actions: read
  packages: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get GitHub App Access Token
        id: github-app-access-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.GH_APP_ID_CHILI_FRONTEND_VERSION_MANAGER }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY_CHILI_FRONTEND_VERSION_MANAGER }}
          owner: ${{ github.repository_owner }}
      - uses: actions/checkout@v4
        with:
          token: ${{ steps.github-app-access-token.outputs.token }}
      - name: Check cache
        id: cache
        uses: actions/cache@v4
        with:
          path: packages/sdk/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}-0
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Use Node ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: "https://npm.pkg.github.com"
          scope: "@chili-publish"
      - name: install dependencies
        run: yarn install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: run linting
        run: yarn ci-lint
      - name: run tests
        run: yarn cover
      - name: bump version
        uses: phips28/gh-action-bump-version@v11.0.7
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          version-type: "prerelease"
          skip-commit: "true"
          skip-tag: "true"
          preid: alpha
      - name: execute local js script
        run: node ./.github/scripts/replicate-version.js
      - name: build code
        run: yarn build
      - name: publish sdk build
        run: node cicd.js sdk,connectors yarn publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: execute commit script
        run: node ./.github/scripts/commit.js
      - name: get new npm version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@master
      - name: copy file branch
        run: |
          path=packages/sdk/upload/latest
          versionpath=packages/sdk/upload/${{ steps.package-version.outputs.current-version}}
          mkdir -p ${path%"/merge"}
          cp -R packages/sdk/_bundles/* ${path%"/merge"}
          mkdir -p ${versionpath%"/merge"}
          cp -R packages/sdk/_bundles/* ${versionpath%"/merge"}
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: >-
            {
              "clientId": "${{ vars.AZ_AD_CLIENT_ID_CP_RJS_INT_CICD_SP }}",
              "clientSecret": "${{ secrets.AZ_AD_CLIENT_SECRET_CP_RJS_INT_CICD_SP }}",
              "tenantId": "${{ vars.AZ_TENANT_ID }}",
              "subscriptionId": "${{ vars.AZ_SUBSCRIPTION_ID_SAAS_DEV }}"
            }
      - name: Copy to Azure Blob Storage (SDK)
        uses: azure/cli@v2
        with:
          inlineScript: |
            az storage blob upload-batch \
              --account-name "${{ vars.STORAGE_ACCOUNT_NAME_DEV }}" \
              --destination sdk \
              --source packages/sdk/upload/ \
              --overwrite true \
              --auth-mode login

      - name: prepare for actions upload
        run: |
          node cicd.js actions node scripts/prepare-release.mjs
      - name: Copy to Azure Blob Storage (Actions)
        uses: azure/cli@v2
        with:
          inlineScript: |
            az storage blob upload-batch \
              --account-name "${{ vars.STORAGE_ACCOUNT_NAME_DEV }}" \
              --destination sdk \
              --source packages/actions/cdn/ \
              --overwrite true \
              --auth-mode login
